<ion-view title="TShirt Weather">
  <ion-content class="has-header">
    <!-- Display current location's weather data-->
    <h3>Weather in {{city}}</h3>
    <h4>{{ latitude | number : 4 }}° N, {{ longitude | number : 4 }}° W</h4>
    <h4>Current Weather:</h4>
    <h4 ng-show=isTshirtWeather()>T-Shirt Weather!</h4>
    <h4 ng-show=!isTshirtWeather()>It's so not T-Shirt Weather</h4>
    <p>
      <weather-icon icon="current.icon" id="current-icon"></weather-icon> {{current.currently.summary}}</p>
    <p><strong>Temperature: </strong>{{current.currently.temperature}}°C</p>
    <p><strong>Apparent Temperature: </strong>{{current.currently.apparentTemperature}}°C</p>
    <p><strong>Cloud Cover: </strong>{{current.currently.cloudCover *100}}%</p>
    
    <h4>Hourly Temperature:</h4>
    <p>{{current.hourly.data[1].temperature}}°C,
      {{current.hourly.data[2].temperature}}°C,
      {{current.hourly.data[3].temperature}}°C,
      {{current.hourly.data[4].temperature}}°C,
      {{current.hourly.data[5].temperature}}°C, </p>


  </ion-content>
</ion-view>
